*{
    margin: 0;
    padding: 0;
}
header{
    
}
.nav-container{

}
.logo-container{

}
.logo-container span{

}
.logo-container img{

}
.menu-container{

}
.items{
    list-style: none;
}
.item a{
    text-decoration: none;    
}