*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    background-color: #D5D2D2;
    padding: 15px 25px;
}
.nav-container{
    display: flex;
    justify-content: space-between;
}
.logo-container{
    display: flex;
    align-items: center;
    gap: 3px;
}
.logo-container span{
    color: snow;
}
.logo-container img{

}
.menu-container{

}
.items{
    list-style: none;
    display: flex;
    gap: 5px;
    margin-top: 1px;
}
.item{
    background-color: ghostwhite;
    padding: 10px;
    border-radius: 5px;
}
.item a{
    text-decoration: none; 
    
}